section#gitKomandos > ul {
    max-width: 80%;
    margin: 30px auto 0;
    background-color: rgba(99, 99, 228, 0.205);
    border-radius: 5px;
}

body {
    background-color: brown;
    color: white;
}

section#gitKomandos > ul > li{
    font-size: 32px;
    font-weight: bold;
}